html {
    display: table;
    margin: auto;
}

body {
    background-color: beige;
    display: table-cell;
    vertical-align: middle;
    min-width: 320px;
    max-width: 1024px;
    margin: auto;
}
.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main, .contact {
    display: block;
    margin-left: 1em;
    margin-right: 1em;
    /* height: 1400px; */
}


.wrapper {
    display: grid;
    align-content: center;
    align-items: center;
    align-self: center;
    /* grid-template-columns: repeat(6, 1fr); */
    grid-gap: 10px;
    /* grid-auto-rows: 150px; */
    /* grid-template-areas: 
      "a a b b"
      "a a b b"
      "c c d d"
      "c c d d"; */
    align-items: start;
  }
  .item1 {
    grid-area: a;
  }
  .item2 {
    grid-area: b;
  }
  .item3 {
    grid-area: c;
  }
  .item4 {
    grid-area: d;
  }



#posters {
    list-style-type: none;
    display: block;
    width: 90%;
}
#posters img {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
#posters img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}


#logan img {
    width: 100%;
    height: auto;
    float: left;
}
#ghost img {
    width: 50%;
    height: auto;
    float: right;
}
#strange img {
    width: 50%;
    height: auto;
    float: left;
}
#pass img {
    width: 50%;
    height: auto;
    float: left;
}
#max img {
    width: 50%;
    height: auto;
    float: left;
}
#swiss img {
    width: 100%;
    height: auto;
    float: left;
}

/*configues the navigation area*/
.header {
    overflow: hidden;
    background-color: lavender;
    font-family: Book Antiqua;
}
#intro-photo {
    max-width: 65%;
    height: auto;
    width: auto\9; /* ie8 */
}
#logo {
    float: left;
    padding-left: 10px;
    padding: 0 10px 0 10px;
} 
#logo {
    font-size: 25px;
    font-style: italic;
    font-family: Book Antiqua;
}
.header a {
    float: right;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    font-family: Book Antiqua;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: lavender;
}
#logo:hover {
    background-color: inherit;
}
.header a:hover, .dropdown:hover .dropbtn {
    background-color: orange;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: orange;
}

.dropdown:hover .dropdown-content {
    display: block;
}




/*footer area*/
.footer {
    padding: 10px;
    background-color: lavender;
    font-family: Book Antiqua;
}

